* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fff;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.container-normal {
    width: 100%;
    height: 54px;
    margin: auto;
    color: #000;
    background-color: #fff;
    max-width: 1600px;
    margin: 0 0 2px;
    padding: 0 75px;
}

.menu {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 13px;
    padding: 0px 1px 0 2px;
    margin-bottom: 2px;
    z-index: 9;

    a {
        width: 137px;
        height: 54px;
        margin-top: 1px;

        .logo {
            color: #262626;
            padding: 16px 6px 16px 10px;

            img {
                width: 108px;
                height: 23px;
                margin-top: -3px;
            }
        }
    }

    a:focus {
        border: 1px dashed #000;
    }

}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.pc-menu {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    width: 845px;

    li:hover {
        cursor: pointer;

        span {
            border-bottom: 2px solid black;
        }
    }

    a {
        color: #000;
        margin: 1px 0;
        padding: 16px 8px 16px;
    }

    a:focus {
        border: 1px dashed #000;
    }
}

.func-menu {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .other-manu {
        display: flex;
        align-items: center;

        .all-micosoft {
            display: flex;
            align-items: center;

            .micosoft {
                display: flex;
                align-items: center;
                width: 121px;
                height: 53px;
                margin: 1px 0 0;
                padding: 16px 15px;

                span {
                    height: 20px;
                    font-size: 13px;
                    color: #262626;
                    padding-right: 5px;
                }

                button {
                    border: none;
                    background: none;
                    font: inherit;
                }

                button::before {
                    content: "⌵";
                    width: 10px;
                    height: 19px;
                }
            }
        }

        .micosoft:hover {
            span {
                border-bottom: 2px solid #000;
            }
        }

        .micosoft:focus {
            span {
                border-bottom: 2px solid #000;
            }

            border: 1px dashed #000;
        }

        .search-btn {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 90px;
            height: 38px;
            margin-top: 3px;

            .search {
                display: flex;
                width: 68px;
                height: 54px;
                margin: 0 6px 1px 1px;
                padding: 15px 9px 30px;
                position: relative;
                position: relative;

                span {
                    display: flex;
                    justify-content: flex-start;
                    width: 26px;
                    height: 20px;
                    font-size: 13px;
                    color: #000;
                }

                img {
                    width: 16px;
                    height: 18px;
                    margin-left: 5px;
                }
            }

        }

        .search:hover {
            span {
                border-bottom: 2px solid #000;
            }
        }

        .search:hover::after {
            content: "搜尋 Micrsoft.com";
            position: absolute;
            background-color: #fff;
            color: #616161;
            padding: 2px;
            top: 35px;
            left: -50px;
            z-index: 1;
            white-space: nowrap;
            border: 1px solid#b7b7b7;
            box-shadow: 1px 1px 1px #616161;
        }

        .search:focus {
            span {
                border-bottom: 2px solid #000;
            }

            border: 1px dashed #000;
        }
    }

    .member {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 190px;

        .cart-shopping {
            display: flex;
            align-items: center;
            width: 62px;
            height: 54px;

            .cart {
                display: flex;
                align-items: center;
                width: 62px;
                height: 54px;
                margin: 1px 10px 0 7px;

                #cart {
                    display: flex;
                    align-items: center;
                    width: 61px;
                    height: 46px;
                    padding-right: 6x;
                    position: relative;

                    span {
                        display: flex;
                        align-items: center;
                        font-size: 13px;
                        color: #262626;
                    }

                    img {
                        display: flex;
                        align-items: center;
                        width: 16px;
                        height: 42px;
                        margin: 2px 0 0 3px;
                    }
                }
            }

            #cart:hover {
                span {
                    border-bottom: 2px solid #000;
                }
            }

            #cart:hover::after {
                content: " 0 個項目在購物車中";
                position: absolute;
                background-color: #fff;
                color: #616161;
                padding: 2px;
                top: 35px;
                left: 5px;
                z-index: 1;
                white-space: nowrap;
                border: 1px solid#b7b7b7;
                box-shadow: 1px 1px 1px #616161;
            }
        }

        .cart:focus {
            border: 1px dashed #000;

            span {
                border-bottom: 2px solid #000;
            }
        }

        .login {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            padding-top: 3px;

            #login {
                display: flex;
                align-items: center;
                margin: 0 4px 0 12px;

                span {
                    width: 42px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #333;
                    font-size: 13px;
                }

                img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    margin: 8px;
                }
            }

            #login:focus {
                border: 1px dashed #333;
            }

        }
    }
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 5px;
    height: 470px;
    position: relative;
    overflow: hidden;

    .carousel {
        width: 100%;
        height: 470px;
        position: absolute;
        animation: 6s infinite carousel;
    }

    #carousel-1 {
        left: 0;
    }

    #carousel-2 {
        left: 100%;
    }

    img {
        width: 100%;
        height: 470px;
    }

    #carousel-container2 {
        padding: 48px;
        margin: -380px 0px 15px 860px;
        background-color: transparent;
        color: #000;

        #h1 {
            color: #000;
        }

        #p1 {
            color: #000;
        }
    }

    .carousel-container {
        width: 565px;
        height: 310px;
        font-size: 16px;
        padding: 48px;
        margin: -390px 0px 15px 80px;
        background-color: transparent;
        color: #fff;

        #new {
            width: 72px;
            height: 28px;
            color: #000;
            font-weight: bold;
            background-color: #ffb900;
            margin-bottom: 8px;
            padding: 6px 12px;
        }

        h1 {
            color: #fff;
            font-size: 37px;
            margin-bottom: 20px;
        }

        p {
            color: #fff;
            margin-bottom: 35px;
        }

        .link-group {
            width: 100%;
            height: 55px;
            margin: -8px 0;

            #link-group {
                width: 90px;
                height: 40px;
                margin: 8px 0;
                padding: 10px 12px;
                background-color: #0067b8;
                border-radius: 3px;
            }

            span {
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                padding: 5px 8px;
            }
        }

        #link-group:hover {
            background-color: #0060a9;
        }

        #link-group:focus {
            span {
                border: 3px dotted #fff;
            }
        }
    }
}

@keyframes carousel {
    0% {}

    48% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    98% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }

}

main {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 0.0125px;
    padding: 0 75px;

    section {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            list-style: none;
            margin: 0 0 16px;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-size: 16px;
                width: 170px;
                height: 72px;
                margin: 16px 24px;

                img {
                    width: 40px;
                    height: 40px;
                    margin: 0 0 12px;
                }

                a {
                    color: #0067b8;
                }

                a:focus {
                    border: 2px dotted #0067b8;
                }
            }
        }
    }

    .allblocks {
        display: flex;
        justify-content: flex-start;
        margin-top: 50px;
        width: 100%;

        .blocks {
            display: flex;
            width: 348px;
            height: 411px;
            padding: 0 12px;
        }

        a {
            height: 25px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            color: #0067b8;
            padding: 0 27px 0 0;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a:focus {
            border: 2px dashed #0067b8;
        }

        .one-blocks {
            display: flex;
            flex-direction: column;

            img {
                width: 324px;
                height: 181px;
            }

            .card-body {
                display: flex;
                flex-direction: column;
                width: 324px;
                padding: 16px 0 0;

                .h3 {
                    font-size: 29px;
                    margin: 0 0 16px;
                    line-height: 1.2;
                }
            }

            .card-footers {
                display: flex;
                flex-direction: row;
                width: 324px;
                height: 56px;
                padding: 16px 0 0;
                position: relative;

                .link-group {
                    display: flex;
                    align-items: center;
                    height: 56px;
                    margin: -8px 0;

                    .one-btn {
                        display: flex;
                        flex-wrap: nowrap;
                        // flex-direction: row;
                        margin: 16px 24px 16px 0;

                        .glyph::before {
                            content: " > ";
                            position: absolute;
                            top: 55%;
                            width: 16px;
                            height: 16px;
                            display: inline-block;
                            text-align: center;
                            margin: -8px 0 0;
                        }
                    }

                    .six-people {
                        display: flex;
                        flex-wrap: nowrap;
                        margin: 0px 0px 16px;
                        position: relative;
                        top: 13%;

                        .glyph::before {
                            content: " > ";
                            position: absolute;
                            top: 32%;
                            width: 16px;
                            height: 16px;
                            display: inline-block;
                            text-align: center;
                            margin: -8px 0 0;
                        }
                    }
                }
            }
        }

        .two-blocks {
            display: flex;
            flex-direction: column;

            img {
                width: 324px;
                height: 181px;
            }

            .card-body {
                display: flex;
                flex-direction: column;
                width: 324px;
                padding: 16px 0 0;

                .h3 {
                    font-size: 29px;
                    margin: 0 0 16px;
                    line-height: 1.2;
                }
            }

            .card-footers {
                display: flex;
                flex-direction: row;
                width: 324px;
                height: 56px;
                padding: 16px 0 0;
                position: relative;

                .link-group {
                    display: flex;
                    align-items: center;
                    height: 56px;
                    margin: -8px 0;

                    .one-btn {
                        display: flex;
                        flex-wrap: nowrap;
                        margin: 16px 24px 16px 0;

                        .glyph::before {
                            content: " > ";
                            position: absolute;
                            top: 55%;
                            width: 16px;
                            height: 16px;
                            display: inline-block;
                            text-align: center;
                            margin: -8px 0 0;
                        }
                    }
                }
            }
        }

        .three-blocks {
            display: flex;
            flex-direction: column;

            img {
                width: 324px;
                height: 181px;
            }

            .card-body {
                display: flex;
                flex-direction: column;
                width: 324px;
                padding: 16px 0 0;

                .h3 {
                    font-size: 29px;
                    margin: 0 0 16px;
                    line-height: 1.2;
                }
            }

            .card-footers {
                display: flex;
                flex-direction: row;
                width: 324px;
                height: 56px;
                padding: 16px 0 0;
                position: relative;

                .link-group {
                    display: flex;
                    align-items: center;
                    height: 56px;
                    margin: -8px 0;

                    .one-btn {
                        display: flex;
                        flex-wrap: nowrap;
                        margin: 16px 24px 16px 0;

                        .glyph::before {
                            content: " > ";
                            position: absolute;
                            top: 55%;
                            width: 16px;
                            height: 16px;
                            display: inline-block;
                            text-align: center;
                            margin: -8px 0 0;
                        }
                    }
                }
            }
        }

        .four-blocks {
            display: flex;
            flex-direction: column;

            img {
                width: 324px;
                height: 181px;
            }

            .card-body {
                display: flex;
                flex-direction: column;
                width: 324px;
                padding: 16px 0 0;

                .h3 {
                    font-size: 29px;
                    margin: 0 0 16px;
                    line-height: 1.2;
                }
            }

            .card-footers {
                display: flex;
                flex-direction: row;
                width: 324px;
                height: 56px;
                padding: 16px 0 0;
                position: relative;

                .link-group {
                    display: flex;
                    align-items: center;
                    height: 56px;
                    margin: -8px 0;

                    .one-btn {
                        display: flex;
                        flex-wrap: nowrap;
                        margin: 16px 24px 16px 0;

                        .glyph::before {
                            content: " > ";
                            position: absolute;
                            top: 55%;
                            width: 16px;
                            height: 16px;
                            display: inline-block;
                            text-align: center;
                            margin: -8px 0 0;
                        }
                    }
                }
            }
        }
    }

    section {
        margin-top: 80px;

        .search-carousel {
            position: relative;

            img {
                height: 514px;
            }

            .carousel-container {
                width: 512px;
                height: 272px;
                padding: 48px;
                font-size: 16px;
                position: absolute;
                top: 25%;
                left: 6%;
                background-color: transparent;
                color: #fff;

                h2 {
                    font-size: 37px;
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 35px;
                }

                .link-group {
                    width: 100%;
                    height: 55px;
                    margin: -8px 0;

                    a {
                        text-decoration: none;
                    }

                    span {
                        margin: 8px 0;
                        padding: 10px 12px;
                        color: #fff;
                        font-weight: bold;
                        background-color: #0067b8;
                        border-radius: 1px;
                    }

                }
            }
        }

    }

    .bns-container {
        // width: 452px;
        margin-top: 100px;

        h2 {
            font-size: 37px;
            margin-bottom: 20px;
        }

        .allblocks {
            display: flex;
            justify-content: flex-start;

            .blocks {
                display: flex;
                width: 348px;
                height: 387px;
                padding: 0 12px;
            }

            a {
                height: 25px;
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                color: #0067b8;
                padding: 0 27px 0 0;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            a:focus {
                border: 2px dashed #0067b8;
            }

            .one-blocks {
                display: flex;
                flex-direction: column;

                img {
                    width: 324px;
                    height: 181px;
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    width: 324px;
                    padding: 16px 0 0;

                    .h3 {
                        font-size: 29px;
                        margin: 0 0 16px;
                        line-height: 1.2;
                    }
                }

                .card-footers {
                    display: flex;
                    flex-direction: row;
                    width: 324px;
                    height: 56px;
                    padding: 16px 0 0;
                    position: relative;

                    .link-group {
                        display: flex;
                        align-items: center;
                        height: 56px;
                        margin: -8px 0;

                        .one-btn {
                            display: flex;
                            flex-wrap: nowrap;
                            margin: 16px 24px 16px 0;

                            .glyph::before {
                                content: " > ";
                                position: absolute;
                                top: 55%;
                                width: 16px;
                                height: 16px;
                                display: inline-block;
                                text-align: center;
                                margin: -8px 0 0;
                            }
                        }

                        .six-people {
                            display: flex;
                            flex-wrap: nowrap;
                            margin: 0px 0px 16px;
                            position: relative;
                            top: 13%;

                            .glyph::before {
                                content: " > ";
                                position: absolute;
                                top: 32%;
                                width: 16px;
                                height: 16px;
                                display: inline-block;
                                text-align: center;
                                margin: -8px 0 0;
                            }
                        }



                    }





                }
            }

            .two-blocks {
                display: flex;
                flex-direction: column;

                img {
                    width: 324px;
                    height: 181px;
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    width: 324px;
                    padding: 16px 0 0;

                    .h3 {
                        font-size: 29px;
                        margin: 0 0 16px;
                        line-height: 1.2;
                    }
                }

                .card-footers {
                    display: flex;
                    flex-direction: row;
                    width: 324px;
                    height: 56px;
                    padding: 16px 0 0;
                    position: relative;

                    .link-group {
                        display: flex;
                        align-items: center;
                        height: 56px;
                        margin: -8px 0;

                        .one-btn {
                            display: flex;
                            flex-wrap: nowrap;
                            margin: 16px 24px 16px 0;

                            .glyph::before {
                                content: " > ";
                                position: absolute;
                                top: 55%;
                                width: 16px;
                                height: 16px;
                                display: inline-block;
                                text-align: center;
                                margin: -8px 0 0;
                            }
                        }
                    }
                }
            }

            .three-blocks {
                display: flex;
                flex-direction: column;

                img {
                    width: 324px;
                    height: 181px;
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    width: 324px;
                    padding: 16px 0 0;

                    .h3 {
                        font-size: 29px;
                        margin: 0 0 16px;
                        line-height: 1.2;
                    }
                }

                .card-footers {
                    display: flex;
                    flex-direction: row;
                    width: 324px;
                    height: 56px;
                    padding: 16px 0 0;
                    position: relative;

                    .link-group {
                        display: flex;
                        align-items: center;
                        height: 56px;
                        margin: -8px 0;

                        .one-btn {
                            display: flex;
                            flex-wrap: nowrap;
                            margin: 16px 24px 16px 0;

                            .glyph::before {
                                content: " > ";
                                position: absolute;
                                top: 55%;
                                width: 16px;
                                height: 16px;
                                display: inline-block;
                                text-align: center;
                                margin: -8px 0 0;
                            }
                        }
                    }
                }
            }

            .four-blocks {
                display: flex;
                flex-direction: column;

                img {
                    width: 324px;
                    height: 181px;
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    width: 324px;
                    padding: 16px 0 0;

                    .h3 {
                        font-size: 29px;
                        margin: 0 0 16px;
                        line-height: 1.2;
                    }
                }

                .card-footers {
                    display: flex;
                    flex-direction: row;
                    width: 324px;
                    height: 56px;
                    padding: 16px 0 0;
                    position: relative;

                    .link-group {
                        display: flex;
                        align-items: center;
                        height: 56px;
                        margin: -8px 0;

                        .one-btn {
                            display: flex;
                            flex-wrap: nowrap;
                            margin: 16px 24px 16px 0;

                            .glyph::before {
                                content: " > ";
                                position: absolute;
                                top: 55%;
                                width: 16px;
                                height: 16px;
                                display: inline-block;
                                text-align: center;
                                margin: -8px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .socialfollow {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 12px;

        .aligh {
            margin-right: 12px;
        }

        ul {
            width: 92px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 0;

            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    .footnotes {
        display: flex;
        justify-content: flex-start;
        margin: 0 -12px;

        section {
            display: flex;
            justify-content: flex-start;
            margin-top: 48px;
            padding: 0 12px;

            .py2 {
                display: flex;

                list-style: none;
                padding: 8px 0;

                span {
                    font-size: 14px;
                }
            }
        }
    }
}

.container-full {
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    padding: 0 75px;
    margin-top: 120px;
    height: 316px;

    .footer-nav {
        display: flex;
        flex-direction: column;
        width: 228px;
        padding-right: 12px;

        .footer-menu {
            color: #616161;

            a {
                color: #616161;
                padding: 2px;
            }

            a:hover {
                color: #000;
                text-decoration: underline;
            }

            a:focus {
                color: #000;
                text-decoration: underline;
                border: 1px dashed #000;
            }

            .heading {
                line-height: 20px;
                font-size: 15px;
                font-weight: bold;
                height: 60px;
                padding: 36px 0 4px;
            }

            li {
                font-size: 11px;
                padding: 8px 0;
                list-style: none;
            }
        }
    }
}

.uhff-base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 72px;
    padding: 30px 75px 16px;
    font-size: 11px;
    background-color: #f2f2f2;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        float: left;
        width: 50%;

        .chtw {
            display: flex;
            align-items: center;
            height: 24px;
            color: #616161;
            padding-right: 24px;
        }

        .chtw:hover {
            text-decoration: underline;
        }

        .chtw:focus {
            text-decoration: underline;
            border: 1px dashed #616161;
        }

        .chtw::before {
            content: " Q ";
            width: 20px;
            height: 24px;
            padding-right: 10px;
            display: inline-block;
            text-align: center;
            margin: 8px 0 0;
        }

        .ccpa {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 133px;
            height: 20px;
            color: #000;
            padding: 4px 24px 0 0;

            svg {
                width: 43px;
                height: 16px;
                padding-right: 8px;

                path {
                    width: 33px;
                    height: 16px;
                }
            }

            span {
                width: 66px;
                height: 16px;
            }
        }

        .ccpa:hover {
            text-decoration: underline;
        }

        .ccpa:focus {
            padding: 5px;
            text-decoration: underline;
            border: 1px dashed #000;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        float: right;
        width: 50%;

        li {

            color: #616161;
            display: flex;
            align-items: center;
            list-style: none;
            height: 20px;
            padding: 0 24px 4px 0;

            a {
                font-size: 11px;
                color: #616161;
                padding: 5px;
            }

            a:hover {
                color: #000;
                text-decoration: underline;
            }

            a:focus {
                color: #000;
                text-decoration: underline;
                border: 1px dashed #000;
            }
        }
    }


}